body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(165, 115, 131);
}

#output-box {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 5rem;
}

#output {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
}